<% include ./partials/header %>
  <div id="header" class="home">
    <div class="container">
      <div class="header-content">
        <h1>BLOGS...<span class="typed"></span></h1>
        <p>THE FORUM YOU CAN TRUST</p>
      </div>
    </div>
  </div>

  <div id="services">
    <div class="container">

        <div class="services-carousel owl-theme">

          <div class="services-block">
            <i class="ion-social-android-outline"></i>
            <span>Mobile compatible</span>
            <p class="separator">A responsibe site, which can be viewed on mobiles, tablets or device of any screen sizee.</p>
          </div>
          <div class="services-block">
            <i class="ion-ios-lightbulb-outline"></i>
            <span>Ideas</span>
            <p class="separator">Imagination and inspiration is used to achieve perfection.</p>
          </div>
          <div class="services-block">
            <i class="ion-ios-camera-outline"></i>
            <span>PHOTOGRAPHY</span>
            <p class="separator">Upload an image with your blog.</p>
          </div>
          <div class="services-block">
            <i class="ion-ios-color-wand-outline"></i>
            <span>WEB DESIGN</span>
            <p class="separator">Awesome web design. </p>
          </div>     
          <div class="services-block">
            <i class="ion-ios-analytics-outline"></i>
            <span>Analytics</span>
            <p class="separator">In development.</p>
          </div>       
           <div class="services-block">
            <i class="ion-ios-browsers-outline"></i>
            <span>UI/UX DESIGN</span>
            <p class="separator">Simple and easy to use.</p>
          </div>

        </div>
    </div>
  </div>
<% include ./partials/footer %>