 <% include ./partials/header %>

  <div id="headers" class="home">
    <div class="container">
      <div class="header-content">
        <h1>I,m...<span class="typeds"></span></h1>
        <p>Get in touch:</p>
        <ul class="list-unstyled list-social">
          <li><a href="https://www.facebook.com/rajat.kalsotra.1"><i class="ion-social-facebook"></i></a></li>
          <li><a href="https://twitter.com/rajatkalsotra"><i class="ion-social-twitter"></i></a></li>
          <li><a href="https://www.instagram.com/rajat_kalsotra/"><i class="ion-social-instagram"></i></a></li>
          <li><a href="mailto:rajat3468.rk@gmail.com"><i class="ion-email"></i></a></li>
        </ul>
      </div>
    </div>
  </div>

  <% include ./partials/footer %>